@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-birthstone: var(--font-birthstone);
  --color-sapperton-green: #347560;
  --foreground: #222;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  color: var(--foreground);
}

.page-content p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.page-content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.page-content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-sapperton-green);
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-sapperton-green);
  position: relative;
}
.page-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.page-content ul {
  list-style-type: disc;
  margin-left: 1rem;
}
.page-content ol {
  list-style-type: decimal;
  margin-left: 1rem;
}
